{% extends "base.html" %}
{% set active_page = ["about", "ceo"] %}

{% block title %}Founder and CEO{% endblock %}

{% block banner_color %}bg-color2{% endblock %}
{% block banner_title %}Chief Executive Officer of Astorian Airways{% endblock %}
{% block banner_content %}The new player at Astors mobility sector.{% endblock %}

{% block content %}
    <div class="row last">

      <div class="col-lg-12 centered offer-box">
        <img class="img-responsive center-block" src="/static/imgs/ceo.png" class="gap">
        <h2>Arjan van de Westplate</h2>

        <p><span class="mind">Astorian Airways</span> wurde von Arjan van de Westplate im Juni 2015 gegr&uuml;ndet. Als Drehkreuz wurde der internationale Flughafen von Astor City ausgew&auml;hlt. In direkter N&auml;he zum Flughafen befindet sich auch das Hauptgeb&auml;ude der Airline.</p>

        <p>Geboren wurde der Gr&uuml;nder und erste CEO, Arjan van de Westplate, am 11.06.1989 Francistown, im Herzen von Astoria Sate. Seine Gro&szlig;eltern waren Einwanderer aus nordischen Ländern, die in den Staaten von Astor eine neue Heimat fanden. W&auml;hrend sein Vater sich als Musiker verdingte und die Familie nur notd&uuml;rftig ern&auml;hren konnte, f&uuml;hrte seine Mutter eine kleine Schneiderei in Francistown.</p>

        <p>Seit seiner Kindheit besch&auml;ftigte sich van de Westplate mit der zivilen Luftfahrt. Nach seiner Schulzeit studierte er Luft- und Raumfahrt an der Technical University of Durban und finanzierte sich seine Studien mit Gelegenheitsjobs - nat&uuml;rlich am Flughafen in Durban. Kurz nach Ende seines Studiums befasste er sich mit den ersten Pl&auml;nen zur Gr&uuml;ndung einer neuen und modernen Fluggesellschaft in Astor.</p>


      </div>

      <div class="col-lg-12 centered offer-box">
        <div class="img-circle offer-circle centered bg-black txt-white"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></div>
        <h2>Founding Letter to Potential Investors</h2>

        <p>Um Unterst&uuml;tzer f&uuml;r seine Idee zu gewinnen verfasste van de Westplate einen Brief an unterschiedliche Akteure aus Wirtschaft und Politik. Dieses historische Dokument, welches den Grundstein zur Gr&uuml;ndung von <span class="mind">Astorian Airways</span> legte, ist hier nochmals in seiner originalen Fassung nachzulesen:</p>
      </div>

      <div class="col-lg-12 centered offer-box">
        <p><i>Verehrte Ladies und Gentleman,</i></p>

        <p><i>Astor ist gro&szlig; und die Weiten unseres Landes sind atemberaubend. Wir alle sind lieben die feinen Sandstr&auml;nde Laurentianas, die wirtschaftliche Brillianz der St&auml;dte in Assentia, die breiten Highways in Capital State, die wei&szlig;en Gipfel des freel&auml;ndischen Massif Rouge und die Kreativit&auml;t der Filmemacher in Serena. Es ist an der Zeit diese gro&szlig;artigen Orte miteinander auf eine moderne und effiziente Art zu verbinden. Lassen Sie uns allen Menschen einen schnellen und bequemen Zugang zu unseren Sch&auml;tzen anbieten - gleich ob sie nun aus einem unserer Bundesstaaten oder dem Ausland kommen. Dieses Land ben&ouml;tigt eine Infrastruktur auf die seine Bewohner vertrauen k&ouml;nnen, einen effizienten und modernen Dienstleister, der die Mobilit&auml;t unsrer Nation in das 21. Jahrhundert f&uuml;hrt.</i></p>

        <p><i>Helfen Sie mir die erste nationale Flugline Astors zu gr&uuml;nden und lassen Sie den Traum von Astorian Airways wahr werden. Eine Airline mit permanenten Verbindungen in alle wichtigen St&auml;dte Astors. Die Fluglinie, die Menschen von Nah und Fern zusammenbringt und die das Potenzial besitzt, das Reisen in Astor zu revolutionieren.</i></p>

        <p><i>Als nationale Mobilit&auml;tsl&ouml;sung k&auml;me Astorian Airways nicht nur Reisenden direkt zu Gute, sondern birgt die Chance zu einem tragf&auml;higen Konzern zu wachsen, der permanente Ausbildungspl&auml;tze, Studienm&ouml;glichkeiten und Jobs anbieten k&ouml;nnte. Auch Innovationen und Forschungsfinanzieren lassen kaum aus einem modernen Transport-Unternehmen wegzudenken und bieten die M&ouml;glichkeit von diversen langfristigen Kooperationen zwischen Wirtschaft und Bildungsinstituten. Selbstverst&auml;ndlich laufen derartige Programme schon direkt mit Unternehmensgr&uuml;ndung an. Ein direkter Profit f&uuml;r die B&uuml;rger und die Staatskasse Astors ist also garantiert.</i></p>

        <p><i>Ich darf Sie daher bitten mich und meine schon gewonnen Mitstreiter bei der Verwirklichung dies gro&szlig;artigen Planes zu unterst&uuml;tzen. Lassen Sie uns zusammen die Mobilit&auml;t neu erfinden!</i></p>

        <p><i>Mit herzlichsten Grüßen</i></p>
        <img src="/static/imgs/signature.png" class="last">
      </div>


    </div>
{% endblock %}