{% extends "base.html" %}
{% set active_page = ["about", "jobs"] %}

{% block title %}Working at Astorian Airways{% endblock %}

{% block banner_color %}bg-color2{% endblock %}
{% block banner_title %}Working at Astorian Airways{% endblock %}
{% block banner_content %}Because brilliant mobility needs skilled people.{% endblock %}

{% block content %}
    <div class="row last">

      <div class="col-lg-12 centered offer-box">
        <img class="img-responsive center-block" src="/static/imgs/engineers.png" class="gap">
        <h2>Engineering &amp; Maintenance</h2>
        <p>Zur regelm&auml;ssigen &Uuml;berholung unserer Flotte benn&ouml;tigen wir f&auml;hige Mitarbeiter die Spa&szlig; an der L&ouml;sung von komplexen technischen Problemen haben. Sie haben einen Abschlu&szlig; an der Technical University of Durban oder einer anderen technischen Einrichtung Astors? Bewerben Sie sich und arbeiten Sie bei <span class="mind">Astorian Airways</span> , einem der modernsten Unternehmen des Landes!</p>
      </div>

      <div class="col-lg-12 centered offer-box">
        <img class="img-responsive center-block" src="/static/imgs/pilots.png" class="gap">
        <h2>Piloting &amp; Testing</h2>
        <p>Um unsere Passagiere sicher an ihr Ziel zu bringen suchen wir immer f&auml;hige und verantwortungsbewusstes Cockpit-Personal. Sie tragen gerne Verantwortung und behalten auch in hei&szlig;en Situationen einen k&uuml;hlen Kopf? <span class="mind">Astorian Airways</span> finanziert Ihnen Ihren Pilotenschein und schicken Sie ins Cockpit eines unserer Flugzeuge. Erf&uuml;llen Sie sich Ihren Kindheitstraum und bewerben Sie sich noch heute bei uns!</p>
        <p>Die Ausbildung angehender Piloten erfolgt in den Vereinigten Staaten von Astor. Ein Arbeitsvisum ist f&uuml;r Pilotenanw&auml;rter mit nicht-astorischem Pass daher zwingend erforderlich. W&auml;hrend der theoretische Teil der Ausbildung in Astoria City stattfindet, wird die praktische Einf&uuml;hrung in die zivile Luftfahrt in Durban vollzogen. &Uuml;ber den n&ouml;rdlichen Seen in der Grenzregion zu Cranberra finden die ersten Flugman&ouml;ver-&Uuml;bungen statt.</p>
      </div>

      <div class="col-lg-12 centered offer-box">
        <img class="img-responsive center-block" src="/static/imgs/flightattendants.png" class="gap">
        <h2>Flight Attendants</h2>
        <p>Erstklassiger Service an Board erfordert freundliche und aufmerksames Board-Personal. Sie l&auml;cheln gerne und sind gerne mit Menschen zusammen? <span class="mind">Astorian Airways</span> ist immer auf der Suche nach Stewards und Stewardessen. Diese Stellen sind ausdr&uuml;cklich auch als Teilzeitstellen verf&uuml;gbar. Steigen Sie mit uns in die Kabine und sichern Sie sich einen der h&ouml;chsten Arbeitspl&auml;tze Astors!</p>
      </div>
    </div>
{% endblock %}