{% extends "base.html" %}
{% set active_page = ["about", "legal"] %}

{% block title %}Legal Information{% endblock %}

{% block banner_color %}bg-color2{% endblock %}
{% block banner_title %}Legal Information{% endblock %}
{% block banner_content %}This website belongs to a simulation with non-commerical background.{% endblock %}

{% block content %}
    <div class="row last">

        <div class="col-lg-6 centered offer-box">
          <div class="img-circle offer-circle centered bg-color1"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></div>
          <h2>Micronation</h2>
          <p>Diese Webseite ist nicht der Internetauftritt einer echten Airline, sondern eine simulierte Pr&auml;senz im Rahmen einer <a href="https://de.wikipedia.org/wiki/Virtuelle_Nation" target="_blank">virtuellen Mikronation</a> namens <a href="http://www.vs-astor.info/" target="_blank">Vereinigte Staaten von Astor</a>. Dementsprechend hat sie keinerlei kommerziellen Hintergrund oder Charakter. Sie ist damit explizit von der <a href="http://www.heise.de/ct/hotline/FAQ-Impressumspflicht-bei-Websites-2294947.html" target="_blank">Impressumspflicht befreit</a>.</p>
        </div>

        <div class="col-lg-6 centered offer-box">
          <div class="img-circle offer-circle centered bg-color4"><span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span></div>
          <h2>License</h2>
          <p>S&auml;mtliche selbst-erstellte Inhalte dieser Webseite sind unter der <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International</a> Lizenz. F&uuml;r diese Pr&auml;senz genutzte Werke Dritter bleiben selbstredend von dieser Lizenz ausgeschlossen. Es gilt hier nach wie vor die vom Autor angegebene Lizenz.</p>
        </div>

        <div class="col-lg-12 centered offer-box">
          <div class="img-circle offer-circle centered bg-color5"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span></div>
          <h2>Sources</h2>
          <p>Dieser Webauftritt verwendet modifizierte Medien Dritter. Die Autoren dieser Werke sind im Folgenden aufgelistet und verlinkt. Dankesch&ouml;n f&uuml;r die Ver&ouml;ffentlichung Eurer Werke unter einer freien Lizenz!</p></p>
        </div>

        <div class="col-lg-4 offer-box">
          <ul>
            <li><a href="https://www.flickr.com/photos/mattweibo/" target="_blank">Matt Weibo</a></li>
            <li><a href="https://www.flickr.com/photos/18378305@N00/" target="_blank">Canadian Pacific</a></li>
            <li><a href="https://www.flickr.com/photos/clark/" target="_blank">Clark Gregor</a></li>
            <li><a href="https://www.flickr.com/photos/lukelai/" target="_blank">Luke Lai</a></li>
            <li><a href="https://www.flickr.com/photos/david_s_carter/" target="_blank">Dave Carter</a></li>
          </ul>
        </div>

        <div class="col-lg-4 offer-box">
          <ul>
            <li><a href="https://www.flickr.com/photos/weblogsky/" target="_blank">Jon Lebkowsky</a></li>
            <li><a href="https://www.flickr.com/photos/isriya/" target="_blank">Isriya Paireepairit</a></li>
            <li><a href="https://www.flickr.com/photos/emmettanderson/" target="_blank">Emmett Anderson</a></li>
            <li><a href="https://www.flickr.com/photos/alexindigo/" target="_blank">Alex Indigo</a></li>
            <li><a href="https://www.flickr.com/photos/eisbaerchen/" target="_blank">Carmen Eisb&auml;r</a></li>
          </ul>
        </div>

        <div class="col-lg-4 offer-box">
          <ul>
            <li><a href="https://www.flickr.com/photos/jetstarairways/" target="_blank">Jetstar Airways</a></li>
            <li><a href="https://www.flickr.com/photos/vissago/" target="_blank">Dan Tentler</a></li>
            <li><a href="https://www.flickr.com/photos/calliope/" target="_blank">Liz West</a></li>
            <li><a href="https://www.flickr.com/photos/telstar/" target="_blank">Todd Lappin</a></li>
            <li><a href="https://www.flickr.com/photos/urnes/" target="_blank">My Past</a></li>
          </ul>
        </div>

      </div>
    </div>
{% endblock %}