{% extends "base.html" %}
{% set active_page = ["partners"] %}

{% block title %}Partners{% endblock %}

{% block banner_color %}bg-color4{% endblock %}
{% block banner_title %}Official Astorian Airways Partners{% endblock %}
{% block banner_content %}Building an international network amongst companies.{% endblock %}

{% block content %}
    <div class="row last">
        <div class="col-lg-12 centered offer-box">
          <div class="img-circle offer-circle centered bg-black txt-white"><span class="glyphicon glyphicon-film" aria-hidden="true"></span></div>
          <h2>Media Partners</h2>
          <p>Neuste Nachrichten aus Astor und aller Welt, preisgekr&ouml;nte Reportagen, investigative Dokumentationen und weitere spannende TV-Sendungen sind in unserem On-Board Entertainment System verf&uuml;gbar. Wir haben Vertr&auml;ge mit den f&uuml;hrenden Medienanstalten Astors geschlossen und beziehen unsere Medieninhalte von <a href="http://forum.astor.ws/index.php?page=Thread&amp;threadID=15690" target="_blank">Varga TV</a> und der <a href="http://forum.astor.ws/index.php?page=Thread&postID=378090" target="_blank">Assentian Public Broadcasting Service</a>. Vielen Dank f&uuml;r die Kooperation und Zusammenarbeit!</p>
        </div>

        <div class="col-lg-6 centered gap">
          <img class="img-responsive center-block" src="/static/imgs/partners/apbs.png">
        </div>
        <div class="col-lg-6 centered gap">
          <img class="img-responsive center-block" src="/static/imgs/partners/vargatv.png">
        </div>

        <div class="col-lg-12 centered offer-box">
          <div class="img-circle offer-circle centered bg-black txt-white"><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span></div>
          <h2>Business Partners</h2>
          <p>Astorian Airways arbeitet eng mit seinem technischen Partner <a href="http://astor.mnwiki.de/index.php?title=Tang_Industrial_Services" target="_blank">Tang Industrial Services</a> zusammen. S&auml;mtliche Fl&uuml;ge die von der Astorian Airways oder ihren Tochtergesellschaften durchgef&uuml;hrt werden sind &uuml;ber die <a href="http://astor.mnwiki.de/index.php?title=Backus_Insurance_Group" target="_blank">Backus Insurance Group</a> versichert.</p>
        </div>
    </div>
{% endblock %}